{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'peams_app/style.css'%}">
    
</head>
<body>
    <header>
        <div class="logo">
            <h1>PEAMS</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'tracker' %}">Tracker</a></li>
                <li><a href="{% url 'notify' %}">Notifications</a></li>
                <li><a href="{% url 'logout' %}">LogOut</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 PEAMS. All rights reserved.</p>
    </footer>

    {% block script %}
    {% endblock %}
</body>
</html>