{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'peams_app/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="{% static 'peams_app/script.js' %}"></script>
    <style>
        body{
            background-image: url('/static/peams_app/basket.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 100vh; /* Ensures the image covers the full viewport height */
            margin: 0;
        }
    </style>
</head>
<body>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endif %}
    
    <div class="main-content">
        <div class="login-container">
            <h1>PEAMS Login</h1>
            <form id="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <button type="submit">Login</button>
            </form>
            <div class="reg"><a href="{% url 'register' %}">Register?</a></div>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 PEAMS. All rights reserved.</p>
    </footer>
</body>
</html>