{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <script src="{% static 'peams_app/script.js'%}"></script>
    <link rel="stylesheet" href="{% static 'peams_app/register.css' %}">
</head>
<body>
    <div class="main-content">
        <div class="registration-container">
            <h1>Peams Registration</h1>
            <p>Register<p>
            <form id="registration-form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <input type="password" id="confirm-password" name="confirmation" placeholder="Confirm your password" required>
                <button type="submit">Register</button>
            </form>
            <div class="reg"><a href="{% url 'login' %}">Login?</a></div>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 PEAMS. All rights reserved.</p>
    </footer>
</body>
</html>
